@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
  .hero__section {
    position: relative;
    background-color: #FDEFE9;
    padding: 15px 0;
    width: 100%;
  
    .hero__container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .hero__left-box {
        h2 {
          color: #1A0A03;
          width: 300px;
          font-size: 40px;
          line-height: 120%;
          margin-bottom: 20px;
          span {
          color: #EE5514;
  
        }
     
        }
        p {
          width: 320px;
          color: #1A0A03;
          font-size: 16px;
          line-height: 160%;
          opacity: .7;
          font-weight: 400;
          margin-bottom: 80px;
        }
      }
      .hero__right-box {
        img {
          width: 420px;
        }
      }
    }
  }
  .gallary__section {
text-align: center;

    h3 {
      color: #EE5514;
      font-weight: 600;
      font-size: 17px;
      margin-bottom: 12px;
    }
    h2 {
      color: #1A0A03;
      font-size: 24px;
      margin-bottom: 17px;
      font-weight: 600;
    }
    .gallary__top {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
      li {
        margin-right: 20px;
      }
    }
  .gallary__bottom {
    display: grid;
    grid-template-columns: repeat(2,3fr);
    text-align: center;
  li {
    h2 {
  font-weight: 600;
  font-size: 17px;
  color: #1A0A03;
  
    }
    p {
      color: #1A0A03;
      opacity: 0.8;
      font-size: 16px;
      font-weight: 500;
  
    }
    h3 {
      color: #1A0A03;
      font-weight: 500;
      font-size: 16px;
  opacity: 0.8;
  margin-top: 10px;
    }
    button {
      color: white;
      border: none;
      padding: 15px 30px;
      background: #EE5514;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      &:hover {
        color: rgb(152, 65, 65);
        background-color: rgb(118, 109, 109);
        transition: ease 1.5s;
      }
  }
  }
  }}
  .Feature__section {
    margin-bottom: 100px;
    .heading__top {
  text-align: center;
  margin-bottom: 10px;
  color: #EE5514;
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 1px;
    }
    .heading__bottom {
      text-align: center;
      color: #1A0A03;
      margin-bottom: 55px;
  
    }
    
    ul {
      display:grid;
      grid-template-columns:repeat(2,3fr);
      text-align: center;
      li {
        margin-right: 30px;
        padding: 50px 60px;
        h3 {
          color: #1A0A03;
          text-align: center;
          font-weight: 600;
          font-size: 17px;
          line-height: 150%;
          margin-bottom: 10px;
          
        }
        p {
          width: 250px;
          margin: 0 auto;
          color: #1A0A03;
          opacity: 0.7;
          line-height: 160%;
          margin-bottom: 20px;
          
        }
        a {
          color: #EE5514;
          font-size: 16px;
          font-weight: 500;
          
        }
      }
      .feature__active-list {
        background-color: #FDEEE8;
        box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  
      }
    }
  }
  .video__section {
    margin: 140px 0;
    .video__box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .video__left-box {
        h3 {
          color: #EE5514;
          font-size: 20px;
          letter-spacing: 1px;
          margin-bottom: 10px;
        }
        h2 {
          color: #010101;
          line-height: 130%;
          width: 350px;
          font-size: 30px;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          width: 280px;
          color: #1A0A03;
          opacity: 0.7;
  
        }
        
      }
      .video__right-box {
       img {
        width: 450px;
       }   
      }
    }
  }
  .email__section {
    .email__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      .email__right-box {
        h3 {
          font-weight: 600;
          font-size: 20px;
          color: #1A0A03;
          margin-bottom: 20px;
        }
        p {
          color: #1A0A03;
          opacity: 0.7;
          width: 300px;
          font-size: 16px;
          line-height: 160%;
          margin-bottom: 40px;
        }
        form {
          position: relative;
          input {
            width: 250px;
            height: 41px;
            padding: 0 0 0 20px;
          }
          button {
            color: white;
            border: none;
            padding: 13px 30px;
            background: #EE5514;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            position: absolute;
            left: 60%;
            &:hover {
              color: rgb(152, 65, 65);
              background-color: rgb(118, 109, 109);
              transition: ease 1.5s;
            }
        }
      }
    }
      .email-left {
       width: 500px;
      }
  }}
  .user__left {
    width: 500px;
  }
  
}
@media (max-width: 930px) {
  header {
    .header__res {
      display: none;
    }
  }
  .hero__container {
    flex-direction: column;
  }
  .video__box {
    flex-direction: column;
  }
  .feature__container {
    ul {
      grid-template-columns: repeat(1,1fr);
    }
  }
  .gallary__top {
    display: flex;
    justify-content: center;
  }
  .gallary__section {
    .gallary__bottom {
      grid-template-columns: repeat(1,1fr);
    }
  }
  .user__container {
    flex-direction: column;
  }
  .email__container {
    flex-direction: column;
  }
  .footer-parent {
    flex-direction: column;
    text-align: center;
   li {
    margin-bottom: 20px;
   }
   .footer__child {
    justify-content: center;
    margin: 0 auto;
   }
  } 
  
}
@media (max-width: 500px) {
  body {
    text-align: center;
  }
  header {
    .header__right-box {
      button {
        display: none;
      }
     .icon {
      display:block;
      font-size: 30px;
    }
    }
  }
  .hero__section {
    .hero__container {
      .hero__left-box {
        h2 {
          font-size: 25px;
          width: 200px;
          margin: 0 auto;
        }
        p {
          margin: 0 auto;
        }
      }
      .hero__right-box {
        img {
          width: 300px;
        }
      }
    }
    
  }
  .video__section {
    .video__box {
      .video__left-box {
        p {
          margin: 0 auto;
        }
      }
      .video__right-box {
        img {
          width: 300px;
          margin-top: 30px;
        }
      }  
    }
    
  }
  .user__left {
    width: 300px;
    margin-bottom: 40px;
  }
  .email__section {
    .email__container {
      .email__left-box {
        img {
          width: 300px;
        }
      }
    }
  }
 
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .hero__section {
    .hero__container {
      .hero__left-box {
        h2 {
          font-size: 20px;
          width: 200px;
          margin: 0 auto;
        }
        p {
          margin: 0 auto;
        }
      }
      .hero__right-box {
        img {
          width: 200px;
        }
      }
    }
    
  }
  .video__section {
    .video__box {
      .video__left-box {
        p {
          margin: 0 auto;
        }
      }
      .video__right-box {
        img {
          width: 200px;
          margin-top: 30px;
        }
      }  
    }
    
  }
  .user__left {
    width: 200px;
    margin-bottom: 40px;
  }
  .email__section {
    .email__container {
      .email__left-box {
        img {
          width: 200px;
        }
      }
    }
  }
  .Feature__section {
    margin-bottom: 100px;
    .heading__top {
  text-align: center;
  margin-bottom: 10px;
  color: #EE5514;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1px;
    }
    .heading__bottom {
      text-align: center;
      color: #1A0A03;
      margin-bottom: 55px;
  
    }
    
    ul {
      display:grid;
      grid-template-columns:repeat(1,1fr);
      text-align: center;
      li {
        margin-right:0;
        padding: 50px 5px;
        h3 {
          color: #1A0A03;
          text-align: center;
          font-weight: 600;
          font-size: 22px;
          line-height: 150%;
          margin-bottom: 10px;
          
        }
        p {
          width: 250px;
          margin: 0 auto;
          color: #1A0A03;
          opacity: 0.7;
          line-height: 160%;
          margin-bottom: 20px;
          
        }
        a {
          color: #EE5514;
          font-size: 16px;
          font-weight: 500;
          
        }
      }
      .feature__active-list {
        background-color: #FDEEE8;
        box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  
      }
    }
  }
 
}