.video__section {
  margin: 140px 0;
  .video__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .video__left-box {
      h3 {
        color: #EE5514;
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
      h2 {
        color: #010101;
        line-height: 130%;
        width: 350px;
        font-size: 45px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        width: 280px;
        color: #1A0A03;
        opacity: 0.7;

      }
    }
  }
}